metamodel/trunk/metamodel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://cloudme.org/metamodel"
  xmlns="http://cloudme.org/metamodel" elementFormDefault="qualified">
  <xsd:element name="system">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="vendor" type="xsd:string"/>
        <xsd:element name="version" type="xsd:decimal"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>